
export DISPLAY="{{ chromium_headless_display }}"
export SCREEN_GEOMETRY="{{ chromium_headless_screen_geometry }}"
export CHROMEDRIVER_PORT={{ chromium_headless_chromedriver_port }}
export CHROMEDRIVER_WHITELISTED_IPS="{{ chromium_headless_chromedriver_whitelisted_ips }}"
export CHROMEDRIVER_URL_BASE="{{ chromium_headless_chromedriver_url_base }}"
export CHROMEDRIVER_EXTRA_ARGS="{{ chromium_headless_chromedriver_extra_args }}"
